<div class="p-24 flex flex-col items-center space-y-24 bg-red-50">
    <h1 class="text-gray-700 text-5xl font-black">Welcome to {{ title }}!</h1>
    <img width="150" alt="Newwwton Logo" src="/assets/newwwton/logo-full-width-color.svg" />
    <div class="flex space-x-4 items-center">
        <div class="bg-white flex items-center p-2 rounded-lg">
            <svg-icon key="newwwton" size="lg"></svg-icon>
        </div>
        <p>
            This is an svg-icon.
            <nwn-link href="https://github.com/ngneat/svg-icon">Read for more.</nwn-link>
        </p>
    </div>
</div>
